.container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 1rem;
    padding:20px 10px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.397);
    align-items: center;
}


/* Common class for link lists */
.linksContainer{
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
    
}

.userSection{
    margin-left: auto;
}

.menuIcon{
    cursor: pointer;
    font-size: 25px;
}



@media screen and (min-width: 850px){
    .container{
        font-size: 1.1rem;
        gap: 20px;
        padding: 20px 100px;
    }

    .linksContainer{
        gap: 20px;
    }
    
}

@media screen and (min-width: 1000px){
    .menuIcon{
        display: none;
    }
}

