

:root{
  --font-solway: 'Solway', serif;
  --font-jost: 'Jost', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: var(--font-jost);
  line-height: 1.6;
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.item-hide{
  display: none;
}

.item-show{
  display: block;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgba(255, 255, 255, 0.95);
    background: #111;
  }
}

/* @media screen and (min-witdh: 480px) {

} */