
/* For mobile  */
.layoutContainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.layoutWrapper{
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 50px;
    position: relative;
}



@media screen and (min-width: 600px){
    .layoutContainer{
        margin: 0 auto;
        
    }
}

@media screen and (min-width: 1250px){
    .layoutContainer{
        padding: 0;
        
    }
}
    