.container{
    margin: 50px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.container h1{
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.formContainer{
    margin: 20px 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 30px;
}

.formGroup{
    display: flex;
    position: relative;
    flex-flow: column;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    width: 100%;
}

.formLabel{
    display: block;
    width: 100%;
    font-size: 0.9rem;
    padding-left: 10px;
}

.formErrorMessage{
    font-size: 0.8rem;
    color: rgb(243, 27, 27);
}

.formInput{
    all: unset;
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.144);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.801);
    padding: 5px;
    text-indent: 5px;
    transition: 0.2s ease-in-out;
}

.formInput:placeholder{
    opacity: 0;
}

.formInput:focus{
    border-color: rgba(0, 255, 255, 0.664);
}

.formInput:invalid{
    border-color: rgba(201, 5, 44, 0.664);
}






